extends layout

block content
  h1 Blackjack
  div#mainContainer.fluid
    div#dealerHand.row
      div.col-sm-3.cards
      div.col-sm-3.cards
    div#playerHand.row
        div.col-sm-3.cards
        div.col-sm-3.cards
    div.gamePlayButtons
      button(id='doubleBtn' ng-click='doubleBtn()') Double
      button(id='splitBtn' ng-click='splitBtn()') Split
      button(id='stayBtn' ng-click='stayBtn()') Stay
      button(id='hitBtn' ng-click='hitBtn()') Hit
      label Bet
      input(id='bet' type = 'number' min = 1 max = 100)
      button(id='betBtn' ngocligh='betBtn()') Bet
      button(id='dealBtn' ng-click='dealBtn()') Deal
    a(href='/rules') Rules