doctype html
html(ng-app='blackJack')
  head
    title Blackjack
    //link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='..node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller='gameCtrl')
    block content
    script(src='..node_modules/angular/angular.min.css')
    //script(src='/javascripts/angular.min.js')
    script(src='/javascripts/app.js')