extends layout

block content
    h1 Rules
    div
        h3 The Game
        P In Blackjack the goal of the game is to have a score closer to 21 than the dealer, without going over. The rules for the dealers hand are stricly dictated leaving no decisions to the dealer.
    div
        h3 Values of the Cards
        ul
            li Aces can have a value of 1 or 11
            li Cards 2 through 9 are face value
            li 10, J, Q, K have values of 10
    div
        h3 Placing a Bet
        p Gastropub McSweeney's next level, occupy fashion axe hella tattooed Odd Future. Trust fund food truck brunch, gentrify irony forage +1 bespoke. Wolf fixie single-origin coffee, migas messenger bag Truffaut forage Schlitz. Hella jean shorts direct trade trust fund listicle chambray. Four dollar toast fashion axe messenger bag pickled. Gluten-free try-hard cliche, 3 wolf moon XOXO Odd Future DIY forage deep v. Gentrify trust fund keffiyeh, paleo seitan pork belly banh mi Pitchfork letterpress chillwave messenger bag sriracha quinoa ugh XOXO.
    div
        h3 Dealing
        p Gastropub McSweeney's next level, occupy fashion axe hella tattooed Odd Future. Trust fund food truck brunch, gentrify irony forage +1 bespoke. Wolf fixie single-origin coffee, migas messenger bag Truffaut forage Schlitz. Hella jean shorts direct trade trust fund listicle chambray. Four dollar toast fashion axe messenger bag pickled. Gluten-free try-hard cliche, 3 wolf moon XOXO Odd Future DIY forage deep v. Gentrify trust fund keffiyeh, paleo seitan pork belly banh mi Pitchfork letterpress chillwave messenger bag sriracha quinoa ugh XOXO.
    div
        h3 The Dealers Hand
        p Gastropub McSweeney's next level, occupy fashion axe hella tattooed Odd Future. Trust fund food truck brunch, gentrify irony forage +1 bespoke. Wolf fixie single-origin coffee, migas messenger bag Truffaut forage Schlitz. Hella jean shorts direct trade trust fund listicle chambray. Four dollar toast fashion axe messenger bag pickled. Gluten-free try-hard cliche, 3 wolf moon XOXO Odd Future DIY forage deep v. Gentrify trust fund keffiyeh, paleo seitan pork belly banh mi Pitchfork letterpress chillwave messenger bag sriracha quinoa ugh XOXO.
    div
        h3 Hitting and Standing
        p Health goth DIY Odd Future fingerstache Marfa. Slow-carb bespoke gluten-free PBR. Sartorial beard letterpress craft beer chia. Fanny pack food truck cray messenger bag Williamsburg photo booth. Street art irony direct trade Schlitz yr. Tattooed hella shabby chic, scenester squid fap biodiesel Godard lo-fi church-key food truck. Echo Park crucifix farm-to-table fixie, viral blog Vice cred Odd Future artisan banjo meh sustainable.
    div
        h3 Doubling
        p wolf moon literally cronut, pork belly vegan mlkshk fap American Apparel. Retro American Apparel squid meditation brunch, letterpress Austin shabby chic art party flannel. Hashtag meditation narwhal, church-key heirloom craft beer tousled vegan four dollar toast whatever +1 chia next level. Godard mumblecore yr, Williamsburg kale chips roof party whatever gentrify quinoa aesthetic vegan try-hard paleo. Tilde bespoke literally, migas blog banjo four dollar toast Bushwick single-origin coffee crucifix bicycle rights Odd Future. Intelligentsia banjo brunch, Odd Future cardigan bespoke synth kitsch mixtape. Before they sold out retro hashtag gentrify Truffaut.

    div
        h3 Splitting and Re-splitting Pairs
        p wolf moon literally cronut, pork belly vegan mlkshk fap American Apparel. Retro American Apparel squid meditation brunch, letterpress Austin shabby chic art party flannel. Hashtag meditation narwhal, church-key heirloom craft beer tousled vegan four dollar toast whatever +1 chia next level. Godard mumblecore yr, Williamsburg kale chips roof party whatever gentrify quinoa aesthetic vegan try-hard paleo. Tilde bespoke literally, migas blog banjo four dollar toast Bushwick single-origin coffee crucifix bicycle rights Odd Future. Intelligentsia banjo brunch, Odd Future cardigan bespoke synth kitsch mixtape. Before they sold out retro hashtag gentrify Truffaut.
    div
        h3 Wins, Losses, Ties
        p Gastropub McSweeney's next level, occupy fashion axe hella tattooed Odd Future. Trust fund food truck brunch, gentrify irony forage +1 bespoke. Wolf fixie single-origin coffee, migas messenger bag Truffaut forage Schlitz. Hella jean shorts direct trade trust fund listicle chambray. Four dollar toast fashion axe messenger bag pickled. Gluten-free try-hard cliche, 3 wolf moon XOXO Odd Future DIY forage deep v. Gentrify trust fund keffiyeh, paleo seitan pork belly banh mi Pitchfork letterpress chillwave messenger bag sriracha quinoa ugh XOXO.