extends layout

block content
    h1 Rules
    p
        h3 The Game
        Gastropub McSweeney's next level, occupy fashion axe hella tattooed Odd Future. Trust fund food truck brunch, gentrify irony forage +1 bespoke. Wolf fixie single-origin coffee, migas messenger bag Truffaut forage Schlitz. Hella jean shorts direct trade trust fund listicle chambray. Four dollar toast fashion axe messenger bag pickled. Gluten-free try-hard cliche, 3 wolf moon XOXO Odd Future DIY forage deep v. Gentrify trust fund keffiyeh, paleo seitan pork belly banh mi Pitchfork letterpress chillwave messenger bag sriracha quinoa ugh XOXO.
    p
        h3 Subtitle
        Gastropub McSweeney's next level, occupy fashion axe hella tattooed Odd Future. Trust fund food truck brunch, gentrify irony forage +1 bespoke. Wolf fixie single-origin coffee, migas messenger bag Truffaut forage Schlitz. Hella jean shorts direct trade trust fund listicle chambray. Four dollar toast fashion axe messenger bag pickled. Gluten-free try-hard cliche, 3 wolf moon XOXO Odd Future DIY forage deep v. Gentrify trust fund keffiyeh, paleo seitan pork belly banh mi Pitchfork letterpress chillwave messenger bag sriracha quinoa ugh XOXO.
    p
        h3 Subtitle
        Gastropub McSweeney's next level, occupy fashion axe hella tattooed Odd Future. Trust fund food truck brunch, gentrify irony forage +1 bespoke. Wolf fixie single-origin coffee, migas messenger bag Truffaut forage Schlitz. Hella jean shorts direct trade trust fund listicle chambray. Four dollar toast fashion axe messenger bag pickled. Gluten-free try-hard cliche, 3 wolf moon XOXO Odd Future DIY forage deep v. Gentrify trust fund keffiyeh, paleo seitan pork belly banh mi Pitchfork letterpress chillwave messenger bag sriracha quinoa ugh XOXO.
    p
        h3 Subtitle
        Gastropub McSweeney's next level, occupy fashion axe hella tattooed Odd Future. Trust fund food truck brunch, gentrify irony forage +1 bespoke. Wolf fixie single-origin coffee, migas messenger bag Truffaut forage Schlitz. Hella jean shorts direct trade trust fund listicle chambray. Four dollar toast fashion axe messenger bag pickled. Gluten-free try-hard cliche, 3 wolf moon XOXO Odd Future DIY forage deep v. Gentrify trust fund keffiyeh, paleo seitan pork belly banh mi Pitchfork letterpress chillwave messenger bag sriracha quinoa ugh XOXO.
    p
        h3 How to Win
        Gastropub McSweeney's next level, occupy fashion axe hella tattooed Odd Future. Trust fund food truck brunch, gentrify irony forage +1 bespoke. Wolf fixie single-origin coffee, migas messenger bag Truffaut forage Schlitz. Hella jean shorts direct trade trust fund listicle chambray. Four dollar toast fashion axe messenger bag pickled. Gluten-free try-hard cliche, 3 wolf moon XOXO Odd Future DIY forage deep v. Gentrify trust fund keffiyeh, paleo seitan pork belly banh mi Pitchfork letterpress chillwave messenger bag sriracha quinoa ugh XOXO.
