body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.cards {
 margin:10px 0 10px 0;
}

.textCenter{
  text-align: center;
}

.gameButtons {
    margin: 15px;
    position:fixed;
    bottom: 20px;
}

.rulesLink {
    position:fixed;
    bottom: 20px;
    font-size:20px;
}

.bank{
    font-size: 20px;
    margin-top:40px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.total{
    font-size:17px;

}

.center{
    vertical-align:baseline;
}
