body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.cards {
 margin:10px 0 10px 0;
}

.textCenter{
  text-align: center;
}

.gameButtons {
    margin: 0 5px 0 5px
}