body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*.cards {*/
  /*border: 1px solid #000000;*/
  /*width:175px;*/
  /*height:275px;*/
/*}*/

.textCenter{
  text-align: center;
}
